<footer id="contact" class="site-footer">
    <div class="container footer-inner">
        <div class="footer-col"><img src="/assets/images/Logokyora.png" class="footer-logo">
            <p>Kyora Beauty</p>
        </div>
        <div class="footer-col">
            <h4>Hỗ trợ</h4>
            <p>Đổi trả</p>
            <p>Bảo mật</p>
            <p>Hướng dẫn mua hàng</p>
        </div>
        <div class="footer-col">
            <h4>Liên hệ</h4>
            <p>46 Nguyễn Ngọc Nại</p>
            <p>kyora@gmail.com</p>
        </div>
        <div class="footer-col">
            <h4>Giờ mở cửa</h4>
            <p>8:00 — 21:00</p>
            <p>Hotline: 039687799</p>
        </div>
    </div>
    <p class="copyright">© 2025 Kyora — All rights reserved</p>
</footer>