<footer id="contact" class="site-footer">
    <div class="container footer-inner">
        <div class="footer-col"><img src="/Kyora_beauty/assets/images/Logokyora.png" class="footer-logo">
            <p>Kyora Beauty</p>
        </div>
        <div class="footer-col">
            <h4>Hỗ trợ</h4>
            <p><a href="/Kyora_beauty/policies/chinh-sach-doi-tra.html"
                    style="text-decoration: none; color: inherit;">Chính sách
                    đổi trả</a></p>
            <p><a href="/Kyora_beauty/policies/chinh-sach-bao-hanh.html"
                    style="text-decoration: none; color: inherit;">Chính sách
                    bảo hành</a></p>
            <p><a href="/Kyora_beauty/policies/chinh-sach-giao-hang.html"
                    style="text-decoration: none; color: inherit;">Chính sách
                    giao hàng</a></p>
        </div>
        <div class="footer-col">
            <h4>Liên hệ</h4>
            <p>46 Nguyễn Ngọc Nại</p>
            <p>kyora@gmail.com</p>
        </div>
        <div class="footer-col">
            <h4>Giờ mở cửa</h4>
            <p>8:00 — 21:00</p>
            <p>Hotline: 039687799</p>
        </div>
    </div>
    <p class="copyright">© 2025 Kyora — All rights reserved</p>
</footer>